
<section>
  <div class="container mt-5">
    <h2 class="text-center mb-3">{{user.name}}'s Shopping Cart</h2>
    <div class="row">
      <div class="col-lg-9">
        <table class="table border">
          <thead>
            <tr>
              <th scope="col">Image</th>
              <th scope="col">Brand</th>
              <th scope="col">Name</th>
              <th scope="col">Quantity</th>
              <th scope="col">Price</th>
            </tr>
          </thead>
          <tbody>
            {{#each cartItems}}
              {{#each this.productDetails}}
                <tr>
                  <td><img style="width:50px;height:50px" class="img-fluid" src="/product-images/{{this._id}}.jpg" alt="{{this.Name}}" /></td>
                  <td>{{this.Brand}}</td>
                  <td>{{this.Name}}</td>
                  <td>
                    <button
                      type="button"
                      class="btn btn-primary me-2"
                      onclick="changeQuantity('{{../_id}}','{{this._id}}',-1)"
                    >-</button>
                    <span id="{{this._id}}">{{../quantity}}</span>
                    <button
                      type="button"
                      class="btn btn-primary ms-2"
                      onclick="changeQuantity('{{../_id}}','{{this._id}}',1)"
                    >+</button>
                  </td>
                  <td>&dollar; {{this.Price}}</td>
                </tr>
              {{/each}}
            {{/each}}
          </tbody>
        </table>
      </div>

      <div class="col-lg-3 text-center">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Summary</h5>
            <hr />
            <div class="d-flex justify-content-between">
              <div>ITEMS</div>
              <div id="totalItems">{{totalItems}}</div>
            </div>
            <div class="d-flex justify-content-between">
              <div>TOTAL PRICE</div>
              <div>&dollar; <span id="totalPrice">{{total}}</span></div>
            </div>
            <div class="text-center">
              <a class="btn btn-primary" href="/place-order">Place Order</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>


<script>
  function changeQuantity(cartId, prodId, count) {
    let quantity = parseInt(document.getElementById(prodId).innerHTML);
    let totalItem = parseInt(document.getElementById("totalItems").innerHTML);
    $.ajax({
      url: '/change-product-quantity',
      data: {
        cart: cartId,
        product: prodId,
        count: count,
        quantity: quantity
      },
      method: 'post',
      success: (response) => {
        if (response.removeProduct) {
          alert("Product removed from cart");
          location.reload();
        } else {
          document.getElementById(prodId).innerHTML = quantity + count;
          document.getElementById("totalItems").innerHTML = totalItem + count;
          document.getElementById("totalPrice").innerHTML = response.total;
        }
      }
    });
  }
</script>

{{!-- <section>
  <div class="container mt-5">
    <h4 class="text-center mb-5"><b>{{user.name}}'s Shopping Cart</b></h4>
    <hr/>
    {{#each cartItems}}
      {{#each this.productDetails}}
        <div class="row mb-3">
          <div class="col-12 col-md-2">
            <img class="img-fluid" style="max-width:10rem" src="/product-images/{{this._id}}.jpg" />
          </div>
          <div class="col-12 col-md-5">
            <div class="text-muted">{{this.Brand}}</div>
            <div>{{this.Name}}</div>
          </div>
          <div class="col-12 col-md-3">
            <button
              type="button"
              class="btn btn-primary me-3"
              onclick="changeQuantity('{{../_id}}','{{this._id}}',-1)"
            >-</button>
            <span id="{{this._id}}">{{../quantity}}</span>
            <button
              type="button"
              class="btn btn-primary ms-3"
              onclick="changeQuantity('{{../_id}}','{{this._id}}',1)"
            >+</button>
          </div>
          <div class="col-12 col-md-2">
            <span class="close">&#10005;</span>&dollar; {{this.Price}}
          </div>
          <hr/>
        </div>
      {{/each}}
    {{/each}}
    
    <div class="row summary">
      <div class="col-6 col-md-8">
        
      </div>
      <div class="card col-6 col-md-4 text-end p-2">
        <h5><b>Summary</b></h5>
        <hr class="d-md-none" />
        <div class="row">
          <div class="col">ITEMS</div>
          <div class="col text-right" id="totalItems">{{totalItems}}</div>
        </div>
        <div class="row">
          <div class="col">TOTAL PRICE</div>
          <div class="col text-right">&dollar; <span id="totalPrice">{{total}}</span></div>
        </div>
        <a class="btn btn-primary" href="/place-order">Place Order</a>
      </div>
    </div>
  </div>
</section>

<script>
  function changeQuantity(cartId, prodId, count) {
    let quantity = parseInt(document.getElementById(prodId).innerHTML);
    let totalItem = parseInt(document.getElementById("totalItems").innerHTML);
    $.ajax({
      url: '/change-product-quantity',
      data: {
        cart: cartId,
        product: prodId,
        count: count,
        quantity: quantity
      },
      method: 'post',
      success: (response) => {
        if (response.removeProduct) {
          alert("Product removed from cart");
          location.reload();
        } else {
          document.getElementById(prodId).innerHTML = quantity + count;
          document.getElementById("totalItems").innerHTML = totalItem + count;
          document.getElementById("totalPrice").innerHTML = response.total;
        }
        
      }
    });
  }
</script> --}}
